<div class="card">
  <h4 class="card-header py-3">Expeses App</h4>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label" for="userName">Username </label>
        <input
          type="text"
          formControlName="userName"
          class="form-control"
          ngClass="{ 'is-invalid': submitted && form.userName.errors }"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password </label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          ngClass="{ 'is-invalid': submitted && form.password.errors }"
        />
      </div>
      <button [disabled]="loading" id="loginButton" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Log In
      </button>
      <div></div>
      <br />
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    </form>
  </div>
</div>
